[INPUT]
    Name tail
    tag {{typeTag}}.audit
    buffer_max_size 1024k
    parser {{typeTag}}.json
    path {{vaultAuditPath}}/vault_audit.log
    path_key log_file_path
    exclude_Path *.gz,*.zip
    offset_key event_sequence
    db {{inputDbFile}}
    read_from_head false

[INPUT]
    Name tail
    tag {{typeTag}}.log
    buffer_max_size 1024k
    parser {{typeTag}}.json
    path {{vaultAuditPath}}/vault_err.log
    path_key log_file_path
    exclude_path *.gz,*.zip
    offset_key event_sequence
    db {{inputDbFile}}
    read_from_head false
