[INPUT]
    Name tail
    tag {{typeTag}}.log
    buffer_max_size 1024k
    parser {{typeTag}}.json
    path {{inputLogPath}}
    path_key log_file_path
    exclude_path *.gz,*.zip
    offset_key event_sequence
    db {{inputDbFile}}
    read_from_head false
    refresh_interval 15
