[INPUT]
    Name tail
    Tag {{typeTag}}.log
    Buffer_Max_Size 1024k
    Parser {{typeTag}}.json
    Path {{inputLogPath}}
    Path_Key log_file_path
    Exclude_Path *.gz,*.zip
    Offset_Key event_sequence
    DB {{inputDb}}
    Read_from_Head False
    Refresh_Interval 15
