{% macro renderTail(tag, path, parser = false, exclude_path) -%}
[INPUT]
    Name              tail
    Tag               {{tag}}
    Path              {{path}}
    Path_Key          log_file_path
    Exclude_Path      {{exclude_path}}
    Offset_Key        event_sequence
    DB                {{inputDbFile}}
    Read_from_Head    False
    Key               message
    Mem_Buf_Limit     {{ inputTailMemBufLimit }}
    Ignore_Older      {{ inputTailIgnoreOlder }}
    Skip_Empty_Lines  On
    Skip_Long_Lines   On{% if parser %}
    Parser            {{parser}}
{% endif %}
{% endmacro %}

{% macro renderMultilineTail(tag, path, parserName, exclude_path) %}
[INPUT]
    Name              tail
    Tag               {{tag}}
    Path              {{path}}
    multiline.parser  {{parserName}}
    Path_Key          log_file_path
    Exclude_Path      {{exclude_path}}
    Offset_Key        event_sequence
    Key               message
    DB                {{inputDbFile}}
    Read_from_Head    False
    Mem_Buf_Limit     {{ inputTailMemBufLimit }}
    Ignore_Older      {{ inputTailIgnoreOlder }}
    Skip_Empty_Lines  On
    Skip_Long_Lines   On
{% endmacro %}
