{% macro renderTail(tag, path, parser = false, exclude_path) -%}
[INPUT]
    Name              tail
    tag               {{tag}}
    path              {{path}}
    path_key          log_file_path
    exclude_path      {{exclude_path}}
    offset_key        event_sequence
    db                {{inputDbFile}}
    read_from_head    false
    key               message
    mem_buf_limit     {{ inputTailMemBufLimit }}
    ignore_older      {{ inputTailIgnoreOlder }}
    skip_empty_lines  on
    skip_long_lines   on{% if parser %}
    parser            {{parser}}
{% endif %}
{% endmacro %}

{% macro renderMultilineTail(tag, path, parserName, exclude_path) %}
[INPUT]
    Name              tail
    tag               {{tag}}
    path              {{path}}
    multiline.parser  {{parserName}}
    path_key          log_file_path
    exclude_path      {{exclude_path}}
    offset_key        event_sequence
    key               message
    db                {{inputDbFile}}
    read_from_head    false
    mem_buf_limit     {{ inputTailMemBufLimit }}
    ignore_older      {{ inputTailIgnoreOlder }}
    skip_empty_lines  on
    skip_long_lines   on
{% endmacro %}
